<body class="mat-app-background">
<div class="container" fxLayout="column" 
 fxLayoutAlign="space-around start" fxLayoutGap="10px" >
  <div fxFlex>
    <h1>Login Page</h1>
    
  </div>
  <div fxFlex fxFlexOffset="20">
    <form (ngSubmit)="onSubmit()" #loginForm="ngForm">
      
      <div class="form-group">
      <mat-form-field class="inp1">
        <input matInput placeholder="Username" type="text" class="form-control"
          id="user" required [(ngModel)]="user" name="user" #name="ngModel">
          
      </mat-form-field>
      </div>

      <div class="form-group">
      <mat-form-field class="inp1">
        <input matInput placeholder="Password" type="password" class="form-control" id="pass" required 
        [(ngModel)]="pass" name="pass">
      </mat-form-field>
      </div>

      <button mat-button type="submit" name="submit">Submit</button>
      <button mat-button><a routerLink="/register" routerLinkActive="active">Register</a></button>
    </form>
  </div>
</div>
</body>