<div class="container mat-app-background">

  <mat-card>
    <mat-card-title>
      User Details
    </mat-card-title>
    <mat-card-subtitle>
      Enter your details here to begin tracking your BJJ stats!!
    </mat-card-subtitle>
    <mat-card-content>
      <form>
        <div class="reg">
          <mat-form-field>
            <input matInput placeholder="First Name" type="text">
          </mat-form-field>
          <mat-form-field>
            <input matInput placeholder="Last Name" type="text">
          </mat-form-field>
          <mat-form-field>
            <input matInput placeholder="Username" type="text">
          </mat-form-field>
          <mat-form-field>
            <input matInput placeholder="Password" type="password">
          </mat-form-field>
        </div>
      </form>
    </mat-card-content>
  </mat-card>


</div>
