<div class="container mat-app-background">

  <mat-card>
    <mat-card-title>
      User Details
    </mat-card-title>
    <mat-card-subtitle>
      Enter your details here to begin tracking your BJJ stats!!
    </mat-card-subtitle>
    <mat-card-content>

      <form novalidate (ngSubmit)="onSubmit()" [formGroup]="newUser" >
        <div class="reg">
          <mat-form-field dividerColor="{{formErrors.fname ? 'warn' : 'primary'}}">
            <input matInput placeholder="First Name" type="text" class="form-control" id="fname"
            required formControlName="fname" name="fname">
          </mat-form-field>
          <mat-form-field>
            <input matInput placeholder="Last Name" type="text" class="form-control" id="lname" required formControlName="lname" name="lname">
          </mat-form-field>
          <mat-form-field>
            <input matInput placeholder="Username" type="text" class="form-control" id="uname" required formControlName="uname" name="uname">
          </mat-form-field>
          <mat-form-field>
            <input matInput placeholder="Password" type="password" class="form-control" id="pass" required formControlName="pass" name="pass">
          </mat-form-field>
        </div>
        <button mat-button type="submit" name="submit" [disabled]="newUser.invalid">Submit</button>
      </form>
    </mat-card-content>
  </mat-card>


</div>
